<!-- register.ejs -->

<!DOCTYPE html>
<html>
<head>
  <title>Registration Page</title>
</head>
<body>
  <h1>Registration</h1>
   
  <form action="/register" method="POST">
    <label for="username">E-mail id:</label>
    <input type="text" id="username" name="username" required>
   <br> 
   <p style="padding-top:5px">  
   <label for="password">Password:</label>
    <input type="password" id="password" name="password" required>
    <br>
    <p style="padding-top:5px;"></p>  
     
    <button type="submit" style="margin-left:50px;">Register</button>
  </form>
</body>
</html>
